<a href="https://colab.research.google.com/github/robsonbfreitas/TrabalhoFinal/blob/main/TrabalhoFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importando bibliotecas
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('features.csv')
dftest = pd.read_csv('test.csv')
df.head()

   Store        Date  Temperature  ...         CPI  Unemployment  IsHoliday
0      1  2010-02-05        42.31  ...  211.096358         8.106      False
1      1  2010-02-12        38.51  ...  211.242170         8.106       True
2      1  2010-02-19        39.93  ...  211.289143         8.106      False
3      1  2010-02-26        46.63  ...  211.319643         8.106      False
4      1  2010-03-05        46.50  ...  211.350143         8.106      False

[5 rows x 12 columns]

In [14]:
df.head(30)

    Store        Date  Temperature  ...         CPI  Unemployment  IsHoliday
0       1  2010-02-05        42.31  ...  211.096358         8.106      False
1       1  2010-02-12        38.51  ...  211.242170         8.106       True
2       1  2010-02-19        39.93  ...  211.289143         8.106      False
3       1  2010-02-26        46.63  ...  211.319643         8.106      False
4       1  2010-03-05        46.50  ...  211.350143         8.106      False
5       1  2010-03-12        57.79  ...  211.380643         8.106      False
6       1  2010-03-19        54.58  ...  211.215635         8.106      False
7       1  2010-03-26        51.45  ...  211.018042         8.106      False
8       1  2010-04-02        62.27  ...  210.820450         7.808      False
9       1  2010-04-09        65.86  ...  210.622857         7.808      False
10      1  2010-04-16        66.32  ...  210.488700         7.808      False
11      1  2010-04-23        64.84  ...  210.439123         7.808      False
12      1  2010-04-30        67.41  ...  210.389546         7.808      False
13      1  2010-05-07        72.55  ...  210.339968         7.808      False
14      1  2010-05-14        74.78  ...  210.337426         7.808      False
15      1  2010-05-21        76.44  ...  210.617093         7.808      False
16      1  2010-05-28        80.44  ...  210.896761         7.808      False
17      1  2010-06-04        80.69  ...  211.176428         7.808      False
18      1  2010-06-11        80.43  ...  211.456095         7.808      False
19      1  2010-06-18        84.11  ...  211.453772         7.808      False
20      1  2010-06-25        84.34  ...  211.338653         7.808      False
21      1  2010-07-02        80.91  ...  211.223533         7.787      False
22      1  2010-07-09        80.48  ...  211.108414         7.787      False
23      1  2010-07-16        83.15  ...  211.100385         7.787      False
24      1  2010-07-23        83.36  ...  211.235144         7.787      False
25      1  2010-07-30        81.84  ...  211.369903         7.787      False
26      1  2010-08-06        87.16  ...  211.504662         7.787      False
27      1  2010-08-13        87.00  ...  211.639421         7.787      False
28      1  2010-08-20        86.65  ...  211.603363         7.787      False
29      1  2010-08-27        85.22  ...  211.567306         7.787      False

[30 rows x 12 columns]

In [15]:
dftest.head(30)

    Store  Dept        Date  IsHoliday
0       1     1  2012-11-02      False
1       1     1  2012-11-09      False
2       1     1  2012-11-16      False
3       1     1  2012-11-23       True
4       1     1  2012-11-30      False
5       1     1  2012-12-07      False
6       1     1  2012-12-14      False
7       1     1  2012-12-21      False
8       1     1  2012-12-28       True
9       1     1  2013-01-04      False
10      1     1  2013-01-11      False
11      1     1  2013-01-18      False
12      1     1  2013-01-25      False
13      1     1  2013-02-01      False
14      1     1  2013-02-08       True
15      1     1  2013-02-15      False
16      1     1  2013-02-22      False
17      1     1  2013-03-01      False
18      1     1  2013-03-08      False
19      1     1  2013-03-15      False
20      1     1  2013-03-22      False
21      1     1  2013-03-29      False
22      1     1  2013-04-05      False
23      1     1  2013-04-12      False
24      1     1  2013-04-19      False
25      1     1  2013-04-26      False
26      1     1  2013-05-03      False
27      1     1  2013-05-10      False
28      1     1  2013-05-17      False
29      1     1  2013-05-24      False

In [23]:
frames = [df, dftest]
df2 = pd.concat(frames)

In [24]:
df2.head(30)

    Store        Date  Temperature  ...  Unemployment  IsHoliday  Dept
0       1  2010-02-05        42.31  ...         8.106      False   NaN
1       1  2010-02-12        38.51  ...         8.106       True   NaN
2       1  2010-02-19        39.93  ...         8.106      False   NaN
3       1  2010-02-26        46.63  ...         8.106      False   NaN
4       1  2010-03-05        46.50  ...         8.106      False   NaN
5       1  2010-03-12        57.79  ...         8.106      False   NaN
6       1  2010-03-19        54.58  ...         8.106      False   NaN
7       1  2010-03-26        51.45  ...         8.106      False   NaN
8       1  2010-04-02        62.27  ...         7.808      False   NaN
9       1  2010-04-09        65.86  ...         7.808      False   NaN
10      1  2010-04-16        66.32  ...         7.808      False   NaN
11      1  2010-04-23        64.84  ...         7.808      False   NaN
12      1  2010-04-30        67.41  ...         7.808      False   NaN
13      1  2010-05-07        72.55  ...         7.808      False   NaN
14      1  2010-05-14        74.78  ...         7.808      False   NaN
15      1  2010-05-21        76.44  ...         7.808      False   NaN
16      1  2010-05-28        80.44  ...         7.808      False   NaN
17      1  2010-06-04        80.69  ...         7.808      False   NaN
18      1  2010-06-11        80.43  ...         7.808      False   NaN
19      1  2010-06-18        84.11  ...         7.808      False   NaN
20      1  2010-06-25        84.34  ...         7.808      False   NaN
21      1  2010-07-02        80.91  ...         7.787      False   NaN
22      1  2010-07-09        80.48  ...         7.787      False   NaN
23      1  2010-07-16        83.15  ...         7.787      False   NaN
24      1  2010-07-23        83.36  ...         7.787      False   NaN
25      1  2010-07-30        81.84  ...         7.787      False   NaN
26      1  2010-08-06        87.16  ...         7.787      False   NaN
27      1  2010-08-13        87.00  ...         7.787      False   NaN
28      1  2010-08-20        86.65  ...         7.787      False   NaN
29      1  2010-08-27        85.22  ...         7.787      False   NaN

[30 rows x 13 columns]

In [27]:
df2.dtypes

Store             int64
Date             object
Temperature     float64
Fuel_Price      float64
MarkDown1       float64
MarkDown2       float64
MarkDown3       float64
MarkDown4       float64
MarkDown5       float64
CPI             float64
Unemployment    float64
IsHoliday          bool
Dept            float64
dtype: object

In [26]:
df2.set_index(Date, inplace=True)

NameError: ignored

In [28]:
df3 = df2[['Store','Date','IsHoliday', 'Dept']]
df3.head()

   Store        Date  IsHoliday  Dept
0      1  2010-02-05      False   NaN
1      1  2010-02-12       True   NaN
2      1  2010-02-19      False   NaN
3      1  2010-02-26      False   NaN
4      1  2010-03-05      False   NaN

In [29]:
df3['Date'] = pd.to_datetime(df3['Date'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
df2.set_index(['Date'], inplace=True)

In [20]:
df2.head()

            Store  Temperature  Fuel_Price  ...  Unemployment  IsHoliday  Dept
Date                                        ...
2010-02-05      1        42.31       2.572  ...         8.106      False   NaN
2010-02-12      1        38.51       2.548  ...         8.106       True   NaN
2010-02-19      1        39.93       2.514  ...         8.106      False   NaN
2010-02-26      1        46.63       2.561  ...         8.106      False   NaN
2010-03-05      1        46.50       2.625  ...         8.106      False   NaN

[5 rows x 12 columns]

In [ ]:
y = df[['Fuel_Price']]
y

            Fuel_Price
Date
2010-02-05       2.572
2010-02-12       2.548
2010-02-19       2.514
2010-02-26       2.561
2010-03-05       2.625
...                ...
2013-06-28       3.639
2013-07-05       3.614
2013-07-12       3.614
2013-07-19       3.737
2013-07-26       3.804

[8190 rows x 1 columns]

In [ ]:
y = y.iloc[1:]
y.head()

            Fuel_Price
Date
2010-02-12       2.548
2010-02-19       2.514
2010-02-26       2.561
2010-03-05       2.625
2010-03-12       2.667

In [ ]:
X = df[['Store','Fuel_Price','IsHoliday']].shift(1)
#X = df.shift(1)
X

            Store  Fuel_Price IsHoliday
Date
2010-02-05    NaN         NaN       NaN
2010-02-12    1.0       2.572     False
2010-02-19    1.0       2.548      True
2010-02-26    1.0       2.514     False
2010-03-05    1.0       2.561     False
...           ...         ...       ...
2013-06-28   45.0       3.626     False
2013-07-05   45.0       3.639     False
2013-07-12   45.0       3.614     False
2013-07-19   45.0       3.614     False
2013-07-26   45.0       3.737     False

[8190 rows x 3 columns]

In [ ]:
X = X.iloc[1:]
X.head()

            Store  Fuel_Price IsHoliday
Date
2010-02-12    1.0       2.572     False
2010-02-19    1.0       2.548      True
2010-02-26    1.0       2.514     False
2010-03-05    1.0       2.561     False
2010-03-12    1.0       2.625     False

In [ ]:
y.shape, X.shape

((8189, 1), (8189, 3))

In [ ]:
X = pd.get_dummies(X)
X.head()

            Store  Fuel_Price  IsHoliday_False  IsHoliday_True
Date
2010-02-12    1.0       2.572                1               0
2010-02-19    1.0       2.548                0               1
2010-02-26    1.0       2.514                1               0
2010-03-05    1.0       2.561                1               0
2010-03-12    1.0       2.625                1               0

In [ ]:
X.isna().mean()

Store              0.0
Fuel_Price         0.0
IsHoliday_False    0.0
IsHoliday_True     0.0
dtype: float64

In [ ]:
reg = LinearRegression()
reg.fit(X,y)

ValueError: ignored

In [ ]:
X.shape

(2069, 12)

In [ ]:
y.shape

(8190, 1)

In [ ]:
reg.predict(X)

array([[2.59228975],
       [2.57571166],
       [2.53583702],
       ...,
       [3.60973941],
       [3.60973941],
       [3.72945814]])